body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  overflow: hidden;
}

#myBackground {
  position: fixed;
  z-index: -100;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/font/Montserrat/Montserrat-Light.ttf);
}

div {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
}

a {
  font-family: Montserrat;
  color: #000000;
  text-decoration: none;
}

p {
  font-family: Montserrat;
  font-size: 18px;
  text-indent: 50px;
  text-align: justify;
  line-height: 1.5;
}

.presentation {
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}

#important {
  font-size: 25px;
}

#row::after {
  content: "";
  display: table;
  clear: both;
}

#prompts {
  padding: 0px;
  margin: -100px 0px 0px 0px;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#p {
  margin: 30px;
}

#p:hover {
  color: #ff63d6;
}

#p1 {
  top: 25%;
  -ms-transform: translateY(-25%);
  transform: translateY(25%);
  margin-left: auto;
  margin-right: auto;
}

#p1:hover {
  color: #000cff;
}

#p2 {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(50%);
  margin-left: auto;
  margin-right: auto;
}

#p2:hover {
  color: #58ff63;
}

#p3 {
  top: 75%;
  -ms-transform: translateY(-75%);
  transform: translateY(75%);
  margin-left: auto;
  margin-right: auto;
}

#p3:hover {
  color: #ff481e;
}

#keyflow {
  padding: 30px;
}

#keytext {
  margin-left: 30px;
  margin-right: 30px;
}

#modelCitizen {
  padding: 0px 30px 30px 30px;
}

#video:hover {
  color: #ff63d6;
}

#manifesto {
  margin: 20px;
  padding: 30px;
  width: 40%;
  height: 40em;
  float: left;
  overflow: auto;
}

#log {
  /* border-radius: 10px; */
  float: right;
  margin-right: 100px;
  padding: 30px;
  width: 40%;
  height: 35em;
  overflow: auto;
  text-align: center;
}

#manifestoAndLog {
  content: "";
  display: table;
  clear: both;
}

#poem {
  text-indent: 0px;
  text-align: center;
}
